body{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgb(200, 27, 163)
   }
   h1 {
     font-family: 'Gugi', cursive;
     font-weight: bolder;
     text-align: center;
     color: whitesmoke;
     margin-bottom: 0px;
     margin-top: 12px;
     padding-bottom: 2px;
     font-size: 48px;
     text-shadow: 2px 2px 5px black;
     
   }
   .page-footer{
     background-color: rgb(0,0,0,0.8); 
     width: 100%;
   }
   .overlay{
     background-color: rgb(0,0,0,0.5);
     margin-left: 25%;
     margin-right: 16%;
     opacity: 0.9;
     border-radius: 10px;
   }

   p{background-color: rgba(88, 123, 248, 0.5);
    margin-left: 25%;
    margin-right: 16%;
    opacity: 0.9;
    color: rgb(19, 17, 17);
   
   }
   form{
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  form-option{
    color: rgb(209, 223, 61);
    font-weight: 600;
    font-size: 18px;
    font-family: 'Quattrocento', serif;
  }
  .form-check-label{
    color: rgb(255, 255, 255);
  }
  input[type="radio"] {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  